
:root {
    --cor-primaria:rgb(201, 13, 239); /* Define uma variável de cor */
    --cor-secundaria:#f218e7; /* Define uma variável de cor */
    --cor-terciaria: rgb(87, 207, 244); /* Define uma variável de cor */
   
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/Fundo.png');
    filter: brightness(1.2);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

/* Define o layout da div principal */
#container, #cadastro {
    display: flex;
    height: 100vh; /* Usando 100% da altura da janela do navegador */

}

/* Estilizando div à esquerda */
.left-div {
    flex: 1; /* A primeira div ocupará a metade do espaço disponível */
    background: rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
    font-size: 4em;
    font-weight: 900;
}
h2{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    font-weight: 900;
}
.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 65%;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.35);
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}
.login-box form{
    width: 75%;
    height: 75%;
    color: white;
    font-size: 1em;
}
.form-group label{
    font-size: 1.4em;
    margin-top: 1rem;
}

.form-group input{
    padding: 0.5rem;
    font-size: 1em;
    margin-top: 3%;
    font-weight: 900;
    border: 1px solid var(--cor-secundaria);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px var(--cor-secundaria);
    outline: none!important;
    transition: color 0.2s ease;
}

.form-group input:hover{
    color: rgb(116, 109, 109);
    background-color: var(--cor-terciaria);
}

.form-group input:focus{
    background-color: var(--cor-terciaria);
}

.form-group a{
    font-size: 1.4em;
    margin-top: 10%;
    text-align: center;
    color: white;
    text-decoration: none;
}
.form-group a:hover{
    color: var(--cor-primaria);

}
.form-group h5{
    width: 100%;
    margin-top: 5%;
    text-align: end;
}
.form-group h5 a{
    color: white;
    text-decoration: underline;
}
.form-group h5 a:hover{
    color: var(--cor-primaria);
}


/* Estilizando div à direita */
.right-div {
    flex: 1; /* A segunda div também ocupará a metade do espaço disponível */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-div h2 a{
    color: white;
    text-decoration: underline;
}
.right-div h2 a:hover{
    color: var(--cor-primaria);
    text-shadow: white
}
.right-div p{
    color: white;
    font-size: 1.5em;
    margin-top: 7%;

}
.social-media{
    width: 70%;
    height: 20%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media a {
    width: 9%;
    transition: color 0.5s ease; 
}
.social-media a:hover{
    margin-top: 10%;
    width: 30%;
}
#cadastro{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 80%;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.35);
    color: white;
}
.box-form h1,form{
    width: 75%;
}
.box-form h1{
    margin-top: 10%;
}
#cadastro h2{
    margin-bottom: 10%;
}
.box-form form{
    margin-bottom: 10%;
}

#formulario{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}
.voltar-inicio{
    font-size: 2em;
    color: white;
    text-decoration: none;
}
.voltar-inicio:hover{
    color: var(--cor-secundaria);
}


.box-form label{
    font-size: 1.4em;
    margin-top: 10%;
}

.box-form input{
    width: 80%;
    padding: 0.5rem;
    margin-top: 3%;
    border-radius: 25px;
    outline: none!important;
    justify-content: center;
    align-items: center;

    font-size: 1em;
    font-weight: 900;
    border: 1px solid var(--cor-secundaria);
    box-shadow: 0px 0px 5px 5px var(--cor-secundaria);
    outline: none!important;
    transition: color 0.2s ease;
}

.box-form input:focus{
    color: rgb(116, 109, 109);
    background-color: var(--cor-terciaria);
}

.box-form input:hover{
    background-color: var(--cor-terciaria);
}

.coluna {
    float: left;
    width: 50%; /* Define a largura de cada coluna como metade da largura total */
    display: flex;
    flex-direction: column;
}

.enviar{
    width: 80%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.enviar input{
    font-size: 1em;
    font-weight: 900;
    color: white;
    margin-left: 110px;
    margin-top: 10%;
    margin-bottom: 10px;
    background-color: var(--cor-primaria);
}
.enviar input:hover{
    color: rgb(116, 109, 109);
    background-color: var(--cor-terciaria);
}
@media (max-width: 768px) {
    /* Estilos para telas menores ou iguais a 768px */
    #container, #cadastro {
        width: 100vh; /* Altere a largura máxima conforme necessário */
    }
    h1{
        font-size: 2.3em;
    }
    h2{
        font-size: 1.3em;
    }
    .right-div h1{
        text-align: center
    } 
    .right-div h2{
        text-align: center
    } 
}

